:root {
    --color-black: #212125;
    --color-dark-grey: #626262;
    --color-sand: #dbd8cd;
    --color-westar: #e5e3db;
    --color-off-white: #f8f8f8;
}
/* * {
    border: 2px dotted yellow;
} */
p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
body {
    background-color: var(--color-sand);
    color: var(--color-black);
}
.dm-sans-title {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.dm-sans-para {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.nav-list li {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;

    text-transform: uppercase;
    list-style: none;
}
.nav-list li a {
    color: var(--color-dark-grey);
    text-decoration-line: none;
}
nav li a:hover,
nav li a:focus {
    color: var(--color-off-white);
}

/* .right-side-text {
    position: relative;
    transform-origin: top right;
    transform: translateY(-50%) rotate(90deg);
    white-space: nowrap;
} */
.landing-wrapper {
    height: 100svh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.feature-wrapper > * {
    position: relative;
    z-index: 2;
}
.nav-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}
.full-width-text-wrapper {
    justify-self: bottom;
    /* border: 2px dashed #b527f7; */
}
#full-width-text {
    font-size: 16vw;
    color: var(--color-westar);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 1.2;
    margin-top: -0.25em;
    margin-bottom: -0.1em;
    z-index: 1;
}

.feature-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas: "a b c";

    height: 50%;
    margin-bottom: auto;
    margin-top: auto;
    /* max-height: 40%; */
}
#intro-h1 {
    /* border: 4px solid #00a524af; */
    grid-area: a;
    padding-left: 0.5rem;
    max-width: 20rem;
    justify-self: center;
    align-content: top;
    height: fit-content;
    margin-top: 0cm;
    font-size: 2.5rem;
}
.feature-image {
    grid-area: b;
    max-width: 300px;
    min-width: 15rem;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;

    border-radius: 10%;
    /* box-shadow: 0 0 1rem 0.5rem rgb(0 0 0 / 20%); */
    /* box-shadow: -0.6rem 0.6rem 1rem rgb(0 0 0 / 20%); */

    justify-self: center;
    align-self: center;
}
.feature-text {
    grid-area: c;
    justify-self: center;
    align-self: center;

    max-width: 5rem;
    line-height: 1em;
    font-size: 0.7em;
    /* transform: translate(190%, 0%); */
}
.logo {
    fill: var(--color-sand);
    grid-area: e;
    align-self: center;
    justify-self: right;
    margin-right: 5%;
    margin: auto;
}
